@page "/counter"
@using StockDataApp.Core
@using StockDataApp.Infra.Clients
@rendermode InteractiveServer
@inject IFinnhubService FinnhubClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    
    private async void IncrementCount()
    {
        var response = await FinnhubClient.GetStockSymbolByQueryAsync("AAPL");
        var response1 = await FinnhubClient.GetBasicFinancialsAsync("AAPL");
        var response2 = await FinnhubClient.GetCompanyProfileAsync("AAPL");
        var response3 = await FinnhubClient.GetStockPriceToday("AAPL");
        currentCount++;
    }
}
